In [21]:
from utils import open_csv_file
from data import DataFrame
import numpy as np

from graph import Graph
import seaborn as sns

training_data = open_csv_file('train.csv')
data_frame_instance = DataFrame(training_data)

# Check missing data
# print(data_frame_instance.check_missing_data())
# Check data types
# print(data_frame_instance.check_data_type())

# Replace missing values with median
data_frame_instance.replace_missing_value_with_median('Age')
# print(data_frame_instance.get_df())

# Create column for last name
data_frame_instance.create_last_name_column('Name')
# print(data_frame_instance.get_df()['last_name'])

# Label encoding
data_frame_instance.label_encoding('Last_name')
# print(data_frame_instance.get_df())

# One-hot encoding
data_frame_instance.hot_encoding('Embarked')
data_frame_instance.hot_encoding('Sex')
# print(data_frame_instance.get_df()['Embarked_Q'])
# print(data_frame_instance.get_df()['Embarked_S'])
# print(data_frame_instance.get_df()['Embarked_C'])
# print(data_frame_instance.get_df()['Sex_male'])
# print(data_frame_instance.get_df()['Sex_female'])

In [22]:


# graph_instance = Graph(sns)
# graph_instance.bar_graph(data_frame_instance.get_df()['Last_name_encoded'])

In [23]:
# print(data_frame_instance.get_df()['Last_name_encoded'])

In [24]:
data_frame_instance.min_max_scaler('Last_name_encoded')
# print(data_frame_instance.get_df()['Last_name_encoded_scaled'])

In [25]:
data_frame_instance.bucket_quantile('Age')
data_frame_instance.bucket_quantile('Fare')

/Users/james/Library/Python/3.9/lib/python/site-packages/sklearn/preprocessing/_discretization.py:322: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn(

In [26]:
data_frame_instance.remove_columns(['PassengerId', 'Name', 'Cabin', 'Age', 'Fare', 'Ticket', 'Last_name'])

In [27]:
# print(data_frame_instance.get_df())

In [28]:
corr_mat_type_one = data_frame_instance.get_df().corr()
corr_mat_type_one

,Survived,Pclass,SibSp,Parch,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan,Sex_female,Sex_male,Last_name_encoded_scaled,Age_bucket,Fare_bucket
Survived,1.000000,-0.338481,-0.035322,0.081629,0.168240,0.003650,-0.155660,0.060095,0.543351,-0.543351,-0.058100,-0.066009,0.313809
Pclass,-0.338481,1.000000,0.083081,0.018443,-0.243292,0.221009,0.081720,-0.074282,-0.131900,0.131900,0.052529,-0.260112,-0.708138
SibSp,-0.035322,0.083081,1.000000,0.414838,-0.059528,-0.026354,0.070941,-0.022508,0.114631,-0.114631,-0.016098,-0.199131,0.361006
Parch,0.081629,0.018443,0.414838,1.000000,-0.011069,-0.081228,0.063036,-0.022467,0.245489,-0.245489,-0.047632,-0.151280,0.350079
Embarked_C,0.168240,-0.243292,-0.059528,-0.011069,1.000000,-0.148258,-0.778359,-0.022864,0.082853,-0.082853,0.000757,0.022798,0.192233
Embarked_Q,0.003650,0.221009,-0.026354,-0.081228,-0.148258,1.000000,-0.496624,-0.014588,0.074115,-0.074115,0.014437,0.039784,-0.257166
Embarked_S,-0.155660,0.081720,0.070941,0.063036,-0.778359,-0.496624,1.000000,-0.076588,-0.125722,0.125722,-0.012406,-0.051611,-0.013596
Embarked_nan,0.060095,-0.074282,-0.022508,-0.022467,-0.022864,-0.014588,-0.076588,1.000000,0.064296,-0.064296,0.025371,0.063524,0.066612
Sex_female,0.543351,-0.131900,0.114631,0.245489,0.082853,0.074115,-0.125722,0.064296,1.000000,-1.000000,-0.020991,-0.076129,0.243891
Sex_male,-0.543351,0.131900,-0.114631,-0.245489,-0.082853,-0.074115,0.125722,-0.064296,-1.000000,1.000000,0.020991,0.076129,-0.243891
Last_name_encoded_scaled,-0.058100,0.052529,-0.016098,-0.047632,0.000757,0.014437,-0.012406,0.025371,-0.020991,0.020991,1.000000,0.089740,-0.042005
Age_bucket,-0.066009,-0.260112,-0.199131,-0.151280,0.022798,0.039784,-0.051611,0.063524,-0.076129,0.076129,0.089740,1.000000,0.084362
Fare_bucket,0.313809,-0.708138,0.361006,0.350079,0.192233,-0.257166,-0.013596,0.066612,0.243891,-0.243891,-0.042005,0.084362,1.000000

In [31]:
## feature selection
corr_mat_type_two = data_frame_instance.get_df().corr().abs()
## created a matrix of ones with the same shape with corr mat
mask = np.triu(np.ones_like(corr_mat_type_two, dtype=bool))
mask_df = corr_mat_type_two.mask(mask)
mask_df

,Survived,Pclass,SibSp,Parch,Embarked_C,Embarked_Q,Embarked_S,Embarked_nan,Sex_female,Sex_male,Last_name_encoded_scaled,Age_bucket,Fare_bucket
Survived,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pclass,0.338481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SibSp,0.035322,0.083081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Parch,0.081629,0.018443,0.414838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Embarked_C,0.168240,0.243292,0.059528,0.011069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Embarked_Q,0.003650,0.221009,0.026354,0.081228,0.148258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Embarked_S,0.155660,0.081720,0.070941,0.063036,0.778359,0.496624,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Embarked_nan,0.060095,0.074282,0.022508,0.022467,0.022864,0.014588,0.076588,NaN,NaN,NaN,NaN,NaN,NaN
Sex_female,0.543351,0.131900,0.114631,0.245489,0.082853,0.074115,0.125722,0.064296,NaN,NaN,NaN,NaN,NaN
Sex_male,0.543351,0.131900,0.114631,0.245489,0.082853,0.074115,0.125722,0.064296,1.000000,NaN,NaN,NaN,NaN
Last_name_encoded_scaled,0.058100,0.052529,0.016098,0.047632,0.000757,0.014437,0.012406,0.025371,0.020991,0.020991,NaN,NaN,NaN
Age_bucket,0.066009,0.260112,0.199131,0.151280,0.022798,0.039784,0.051611,0.063524,0.076129,0.076129,0.089740,NaN,NaN
Fare_bucket,0.313809,0.708138,0.361006,0.350079,0.192233,0.257166,0.013596,0.066612,0.243891,0.243891,0.042005,0.084362,NaN